@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  @keyframes shadow {
    0%, 100% {
      transform: translateX(-50%) scale(1);
      opacity: 0.4;
    }
    50% {
      transform: translateX(-50%) scale(0.8);
      opacity: 0.2;
    }
  }
  
  .animate-float {
    animation: float 3s ease-in-out infinite;
  }
  
  .animate-shadow {
    animation: shadow 3s ease-in-out infinite;
  }
  
  .animate-fade-in {
    animation: fadeIn 0.8s ease-out;
  }
  
  .animate-slide-up {
    animation: slideUp 0.8s ease-out forwards;
    opacity: 0;
  }
  
  .delay-100 {
    animation-delay: 100ms;
  }
  
  .delay-200 {
    animation-delay: 200ms;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideUp {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  /*  Drive Animation */
  @keyframes driveAnimation {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .drive-animation {
    animation: driveAnimation 5s  infinite linear;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
  }